@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');



body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.testimonial-quote {
    font-size: 16px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box; 
}

.testimonial-quote blockquote p {
    color: #75808a; 
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;    
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote cite {
    color: gray;
    display: block;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

.testimonial-quote {
    position: relative; 
}

.testimonial-quote .quote-container {
    padding: 0 1rem; 
}
  
.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px; 
}

.testimonial-quote.right img {
    left: auto;
    right: 0;
}

.testimonial-quote.right cite {
    text-align: right; 
}

/* utilities */
.topBtn {
    display: none !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    background-color: green;
    color: black;
    padding: 1rem 2rem;
    border-radius: 12rem;
    font-size: 1rem;
    font-family: serif;
    display: inline-block;
    /* z-index: 1; */
}
.topBtn:hover {
    opacity: .9;
}
.topBtn.scrolled-top{
    display: block !important;
}
section h2 {
    font-family: 'Oswald', sans-serif;
    padding-top: 4rem;
}
section h2::after {
    content: '';
    background-color: green;
    width: 5rem;
    height: 5px;
    display: block;
    margin: 2rem auto;
    margin-top: 2rem;
}
section h5 {
    margin-bottom: 2rem;
}
section p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;    
}
.bg-grey {
    background: rgb(223, 222, 222);
}
.card .inner {
    overflow: hidden;
}
.card .inner img {
    transition: all 1s ease;
}
.card .inner:hover img {
    transform: scale(1.5);
}


/* NAVIGATION */
.navbar {
    font-size: 1rem !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    line-height: 1.42857143 !important;
    transition: all 1000ms;
    padding: 0;
}

.nav-link {
    color: rgb(8, 245, 67) !important;
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0 .3rem;
    padding: 0;
}
.nav-link:hover {
    color: rgba(44, 250, 2, .5) !important;
}
.navbar button {
    outline: 0em;
    border: 0;
}
.navbar-toggler .btn-line {
    width: 2rem;
    height: .3rem;
    background-color: white;
    margin: 0 0 .2rem 0;
    transition: all 1000ms;
}
.navbar-toggler.close { transform: rotate(180deg);}
.navbar-toggler.close .btn-line:nth-child(1) {transform: rotate(45deg) translate(5px, 5px);}
.navbar-toggler.close .btn-line:nth-child(2) { opacity: 0;}
.navbar-toggler.close .btn-line:nth-child(3) { transform: rotate(-45deg) translate(7px, -5px);}

.bg-transparent {
    background: rgba(0,0,0,0.3) !important;
}
.bg-transparent.scrolled {
    background: white !important;
    padding: .1rem initial;
}



/* SHOWCASE */
.section-1 .carousel-inner .carousel-item {
    height: 100vh; 
    color: #222;   
}
.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.section-1 .carousel-caption {
    padding-bottom: 10rem;
}
.section-1 .carousel-caption h3 {
    color: rgb(247, 244, 244);
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: bold;
}
.section-1 .carousel-caption h3 span {
    color: rgb(1, 82, 1);
} 
.section-1 .carousel-caption a {
    background-color: rgb(19, 241, 11);
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 25px;
    color: white;
}


/* ABOUT SECTION SECTION-2 */
.section-2 .txt-1 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.section-2 .txt-2 {
    margin-bottom: 3.5rem;
}
.section-2 a {
    margin-bottom: 5rem;
}
.section-2 img {
    width: 95%;
}


/* PROGRAMS SECTION SECTION3 */
.section-3 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('img/adult-biology-chemical-chemist-356040.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3 .container-fluid .text-center {
    color: white;
}
.section-3 .card {
    width: 17rem;
    text-align: center;
}
.section-3 .card h4 {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 2rem;
}


/* The MANAGEMENT SECTION SECTION-4*/
.section-4 .inner img {
    width: 500px;
}
.section-4 .inner:hover img {
    filter: grayscale(100%);

}
.section-4 .text {
    padding-top: 1rem;
}
.section-4 .text h6 {
    background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}


/* TESTOMONIALS SECTION SECTION-5 */
.section-5 img {
    width: 100px;
    margin-bottom: 2rem;
}
.bg-grey {
    background-color: #555 !important;
}
.section-5 .carousel-items {
    padding: 2rem 0;
   
}

/* HOW TO ENROLL SECTION SECTION-6 */
.section-6 .row {
    width: 100%;
}
.section-6 .p1 {
    background: url('https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-6 .p1 div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
.section-6 .p1 div {
    padding-top: 10rem !important;
}
.section-6 .p2 {
    background: rgb(157, 243, 193);
    padding: 3rem 0;
}
.section-6 .p2 h4 {
    width: 45%;
    margin: 0 auto;
}
.section-6 .p2 form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.section-6 .p2 i {
    transition: all 1000ms;
}
.section-6 i:hover {
    color: green;
    zoom: 2;
}


/* FOOTER SECTION */
footer p {
    font-size: .7rem;
}
footer i {
    padding-right: 2rem;
}
footer hr {
    background-color: #81bedb;
    width: 70%;
    margin-left: 0;
}
footer .icons a {
    font-size: 1.5rem;
}
.facebook {
    color: #3B5998;
}
.twitter {
    color: #55ACEE;
}
.google {
    color: #dd4b39;
}
.linkedin {
    color: #007bb5;
    
}
.youtube {
    color: #bb0000;
} 
  
  
  
  
  
  



@media only screen and (max-width: 600px) {
    section h2 {font-size: rem;}

    .section-1 .carousel-caption {padding-bottom: 12rem;}
    .section-1 .carousel-caption h3 {font-size: 2.3rem;}

    .section-3 .card {
        width: 13rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .section-3 .card h4 {
        font-size: .9rem;
    }

    footer .icons a {font-size: 1.3rem;}
}
@media only screen and (min-width: 600px) {
    .section-1 .carousel-caption {padding-bottom: rem;}

    .section-3 .card {width: 12rem;}
    .section-3 .card h4 { font-size: .9rem;}
}
@media only screen and (min-width: 768px) {
    .section-3 .card {width: 13rem;}
}
@media only screen and (min-width: 992px) {
    .section-3 .card {width: 17rem;}
}
@media only screen and (min-width: 1200px) {
    .section-3 .card {width: 20rem;}
}



/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    /* .section-1 {margin-bottom: 3rem;}
    .section-1 .txt-1 {font-size: 1.2rem;}
    .section-1 .txt-2 {font-size: 1rem;} */

    /* .section-2 .header-1 {font-size: 1.2rem;}
    .section-2 a {font-size: 1.3rem;} */

    
    /* .section-3 .card h5 {font-size: .9rem; font-weight: bolder;}
    .section-3 .card h6 {font-size: .7; font-weight: 400;} */

    .section-6 form {
        width: 100%;
    }
}
/* @media only screen and (min-width: 600px) {
     .section-3 .card {
        width: 11rem;        
    }
    .section-3 .card h5 {font-size: .9rem; font-weight: bolder;}
    .section-3 .card h6 {font-size: .7; font-weight: 400;} *
} 

@media only screen and (min-width: 768px) {
    .section-3 .card {width: 13rem;}
}

@media only screen and (min-width: 992px) {
    .section-3 .card {width: 17rem;}
}

@media only screen and (min-width: 1200px) {
    .section-3 .card {width: 20rem;}
} */



/* menu button */
/* Showcase */
/* Section-1 -About Us */
/* section-2 -take action */
/* section four */
.section-4 img {
    width: 200px;
}
/*.section-4 blockquote p {
    margin: 0 auto;
    color: rgba(0,0,0,0.9);
} */

/* section-5 */
/* .section-5 {
    padding: 0 2rem;
}
.section-5 .row {
    margin: 0 auto;
}
.section-5 img {
    width: 90%;
    transition: all 1000ms;
}
.section-5 img:hover {
    opacity: .9;
    transform: rotateY(180deg);
} */


/* SECTION 6 */






footer {
    color: honeydew;
}








/* ANIMATION */
.slideanim {
    visibility: hidden;
}

.slide {
    animation: slide 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}






/* ========================================================= */
/* ABOUT US PAGE */
/* ========================================================= */

/* Showcase section-1-about */
.section-1-about .jumbotron {
    height: 60vh;
    width: 100%;
    padding-top: 10rem;
    background-image: url('https://images.pexels.com/photos/586570/pexels-photo-586570.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.jumbotron a {
    background-color: rgb(19, 241, 11);
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 25px;
    color: white;
}
@media only screen and (max-width: 600px) {
    .jumbotron {
        padding-top: 6.5rem;
    }
}

/* Mission statement section */
.section-2 .desc {
    padding: 0 15%;
}
@media only screen and (max-width: 600px) {
    .section-2 .desc {
        padding: 0;
    }
}

/* ========================================================= */
/* COURCES PAGE */
/* ========================================================= */
.section-1-courses .jumbotron {
    height: 60vh;
    width: 100%;
    padding-top: 10rem;
    background-image: url('img/cv_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.section-2 .tab-content .card p{
    font-size: 1rem;
    font-weight: bold;
}
.section-2 .nav-pills a {
    font-size: .8rem;
    margin-bottom: 2rem;
}
.section-2 .nav-tabs .cont {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-left: 100%;
}
@media only screen and (max-width: 600px) {
    .section-2 .nav-pills a {
        font-size: .9rem;
        text-align: center;
    }
}
